@model IEnumerable<LAB4_Daneil_Elias_Diego_Ramirez.Models.Data.Task>

@{
    ViewData["Title"] = "Manager";
}

<h1>Manager</h1>

<p>
    <a asp-action="Index">Menu</a>
</p>
<form method="get" asp-action="ViewTaskManager">
    <p>
        <input type="search" placeholder="Type name of developer" value="@ViewData["GetDev"]" name="dev" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-outline-primary" />
        <a asp-action="ViewTaskManager">Show All Tasks</a>
    </p>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
       alert("@TempData["alertMessage"]");
    </script>
}